<form [formGroup]="frmRolesFormulario" class="mb-4">
    <div class="row">
        <div class="input-group">
            <label class="col-lg-1 col-md-4 col-sm-12">Activo</label>
            <div class="form-group col-lg-1 col-md-6 col-sm-12">
                <ui-switch formControlName="Estado"></ui-switch>
            </div>
            <label class="col-lg-2 col-md-4 col-sm-12">Formularios</label>
            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <ng-select [items]="listFormularios" bindLabel="textoMostrar" bindValue="id"  formControlName="FormularioId" > </ng-select>
                <app-forms-messages [error]="frmRolesFormulario.get('FormularioId')"    [statusForm]=statusForm ></app-forms-messages>
            </div> 
        </div>
    </div>
    <div class="row float-right">
        <div class="col-md-12">
            <app-botones [botones]="botones" (eventSave)="save()" ></app-botones>
        </div>
    </div>
    <br>
    <br>
    <div class="dt-responsive">
        <div class="row">
            <div class="col-md-12 table-responsive">
            <table datatable [dtOptions]="opcionesDataTable" [dtTrigger]="dtTrigger" class="display compact responsive w-100 table table-striped table-bordered  "></table>
            <app-botones #botonesDatatable [dropdown]="true" [hidden]="true" [botones]="arrayBotonesDatatable" ></app-botones>
            </div>
        </div>
    </div>
</form>