<app-breadcrumb [title]="titulo" [breadcrumb]="breadcrumb"></app-breadcrumb>
<section class="content">
  <div class="container-fluid">
    <div class="card card-outline card-primary elevation-2">
      <div class="card-body">
        <form [formGroup]="frmUsuarios" class="mb-4">
          <div class="row">
            <div class="input-group">
              <label class="col-lg-2 col-md-4 col-sm-12">Activo</label>
              <div class="form-group col-lg-2 col-md-6 col-sm-12">
                <ui-switch formControlName="Estado"></ui-switch>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-group">
              <label class="col-lg-2 col-md-4 col-sm-12">Usuario</label>
              <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <input
                  type="text"
                  class="form-control form-control-sm"
                  formControlName="Usuario"
                  [readonly]="id"
                />
                <app-forms-messages
                  [error]="frmUsuarios.get('Usuario')"
                  [statusForm]="statusForm"
                ></app-forms-messages>
              </div>
              <label class="col-lg-2 col-md-4 col-sm-12" *ngIf="!id"
                >Contraseña</label
              >
              <div class="form-group col-lg-4 col-md-6 col-sm-12" *ngIf="!id">
                <input
                  type="password"
                  class="form-control form-control-sm"
                  formControlName="Password"
                />
                <app-forms-messages
                  [error]="frmUsuarios.get('Password')"
                  [statusForm]="statusForm"
                ></app-forms-messages>
              </div>
              <label class="col-lg-2 col-md-4 col-sm-12" *ngIf="!id"
                >Codigo</label
              >
              <div class="form-group col-lg-4 col-md-6 col-sm-12" *ngIf="!id">
                <input
                  type="text"
                  class="form-control form-control-sm"
                  formControlName="Codigo"
                />
                <app-forms-messages
                  [error]="frmUsuarios.get('Codigo')"
                  [statusForm]="statusForm"
                ></app-forms-messages>
              </div>
              <label class="col-lg-2 col-md-4 col-sm-12">Persona</label>
              <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <ng-select
                  [items]="listPersonas"
                  bindLabel="textoMostrar"
                  bindValue="id"
                  formControlName="persona_Id"
                ></ng-select>
                <app-forms-messages
                  [error]="frmUsuarios.get('persona_Id')"
                  [statusForm]="statusForm"
                ></app-forms-messages>
              </div>
            </div>
          </div>
          <div class="row float-right">
            <div class="col-md-12">
              <app-botones
                [botones]="botones"
                (eventSave)="save()"
                (eventCancel)="cancel()"
              ></app-botones>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer" *ngIf="id">
        <ul ngbNav #nav="ngbNav" [destroyOnHide]="false" class="nav-tabs">
          <li ngbNavItem>
            <a ngbNavLink
              >Roles
              <span
                data-bs-toggle="tooltip"
                data-bs-placement="left"
                title="En este formulario se asocian los roles pertenecientes al Usuario"
              >
                <i class="fa-solid fa-circle-question"></i>
              </span>
            </a>
            <ng-template ngbNavContent>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <app-usuarios-roles [Usuario_Id]="id"></app-usuarios-roles>
                </div>
              </div>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
  </div>
</section>
