<!-- <app-breadcrumb [title]="title" [breadcrumb]="breadcrumb"></app-breadcrumb> -->
<section class="content">
    <div class="container-fluid">
        <form [formGroup]="frmUsuarios" class="mb-4">
            <div class="modal-header">
                <h6>{{ titulo }}</h6>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="input-group">
                        <label class="col-lg-2  col-md-4 col-sm-12">Usuario</label>
                        <div class="form-group col-lg-4  col-md-6 col-sm-12">
                            <input type="text" class="form-control form-control-sm" formControlName="Usuario" readonly>
                           <app-forms-messages [error]="frmUsuarios.get('Usuario')" [statusForm]=statusForm ></app-forms-messages>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-group">
                        <label class="col-lg-2  col-md-4 col-sm-12">Contraseña</label>
                        <div class="form-group col-lg-4  col-md-6 col-sm-12">
                            <input type="password" class="form-control form-control-sm" formControlName="Password">
                           <app-forms-messages [error]="frmUsuarios.get('Password')" [statusForm]=statusForm ></app-forms-messages>
                        </div>
                        <label class="col-lg-2  col-md-4 col-sm-12">Repetir Contraseña</label>
                        <div class="form-group col-lg-4  col-md-6 col-sm-12">
                            <input type="password" class="form-control form-control-sm" formControlName="PasswordRepeat">
                           <app-forms-messages [error]="frmUsuarios.get('PasswordRepeat')" [statusForm]=statusForm ></app-forms-messages>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row float-right">
                    <div class="col-md-12">
                        <app-botones [botones]="botones" (eventSave)="save()" (eventCancel)="cancel()"></app-botones>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
