<form [formGroup]="frmOrdenesPedidosDetallesPagos" class="mb-4">
    <div class="row">
        <div class="col-md-3 col-sm-3 col-lg-3">
            <label>Fecha</label>
            <input type="date" class="form-control form-control-sm" formControlName="Fecha">
            <app-forms-messages [error]="frmOrdenesPedidosDetallesPagos.get('Fecha')" [statusForm]=statusForm></app-forms-messages>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3">
            <label>Valor</label>
            <input type="number" class="form-control form-control-sm" formControlName="Valor">
            <app-forms-messages [error]="frmOrdenesPedidosDetallesPagos.get('Valor')" [statusForm]=statusForm></app-forms-messages>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3">
            <label>Empleado</label>
            <ng-select [items]="listEmpleados" bindLabel="textoMostrar" bindValue="id" formControlName="Empleado_Id">
            </ng-select>
            <app-forms-messages [error]="frmOrdenesPedidosDetallesPagos.get('Empleado_Id')"
                [statusForm]=statusForm></app-forms-messages>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3">
            <label>Medio de pago</label>
            <ng-select [items]="listMediosPagos" bindLabel="textoMostrar" bindValue="id" formControlName="MedioPago_Id">
            </ng-select>
            <app-forms-messages [error]="frmOrdenesPedidosDetallesPagos.get('MedioPago_Id')"
                [statusForm]=statusForm></app-forms-messages>
        </div>
    </div>
    <br>
    <div class="row float-right">
        <div class="col-md-12">
            <app-botones [botones]="botones" (eventSave)="save()"></app-botones>
        </div>
    </div>
    <br>
    <br>
    <div class="dt-responsive">
        <div class="row">
            <div class="col-md-12 table-responsive">
                <table datatable [dtOptions]="opcionesDataTable" [dtTrigger]="dtTrigger"
                    class="display compact responsive w-100 table table-striped table-bordered"></table>
                <app-botones #botonesDatatable [dropdown]="true" [hidden]="true"
                    [botones]="arrayBotonesDatatable"></app-botones>
            </div>
        </div>
    </div>
</form>