<table class="table table-sm">
    <thead>
        <tr>
            <th colspan="4" class="text-center text-white bg-black">Insumos tallas</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Insumo</th>
            <th>Cantidad</th>
            <th>Talla</th>
            <th>Unidad medida</th>
        </tr>
        <tr *ngFor="let item of listInsumosTallas">
            <td>{{item.consumoPrenda}}</td>
            <td>{{item.cantidad }}</td>
            <td>{{item.talla }}</td>
            <td>{{item.unidadMedida }}</td>
        </tr>
    </tbody>
</table>