<form [formGroup]="frmFacturaCompraDetalle" class="mb-4">
    <div class="row" *ngIf="!seeForm">
        <div class="input-group">
            <label class="col-lg-1 col-md-4 col-sm-12">Cantidad</label>
            <div class="form-group col-lg-5 col-md-6 col-sm-12">
                <input type="number" class="form-control form-control-sm" formControlName="Cantidad">  
                <app-forms-messages [error]="frmFacturaCompraDetalle.get('Cantidad')" [statusForm]=statusForm ></app-forms-messages>
            </div>
            <label class="col-lg-1 col-md-4 col-sm-12">Precio Producto</label>
            <div class="form-group col-lg-5 col-md-6 col-sm-12">
                <input type="v" class="form-control form-control-sm" formControlName="PrecioProducto">  
                <app-forms-messages [error]="frmFacturaCompraDetalle.get('PrecioProducto')" [statusForm]=statusForm ></app-forms-messages>
            </div>
            <label class="col-lg-1 col-md-4 col-sm-12">SubTotal</label>
            <div class="form-group col-lg-5 col-md-6 col-sm-12">
                <input type="number" class="form-control form-control-sm" formControlName="SubTotal">  
                <app-forms-messages [error]="frmFacturaCompraDetalle.get('SubTotal')" [statusForm]=statusForm ></app-forms-messages>
            </div>
            <label class="col-lg-1 col-md-4 col-sm-12">Descuento</label>
            <div class="form-group col-lg-5 col-md-6 col-sm-12">
                <input type="number" class="form-control form-control-sm" formControlName="Descuento">  
                <app-forms-messages [error]="frmFacturaCompraDetalle.get('SubTotal')" [statusForm]=statusForm ></app-forms-messages>
            </div>
            <label class="col-lg-1 col-md-4 col-sm-12">Iva</label>
            <div class="form-group col-lg-5 col-md-6 col-sm-12">
                <input type="number" class="form-control form-control-sm" formControlName="Iva">  
                <app-forms-messages [error]="frmFacturaCompraDetalle.get('SubTotal')" [statusForm]=statusForm ></app-forms-messages>
            </div>
            <label class="col-lg-1 col-md-4 col-sm-12">Observacion</label>
            <div class="form-group col-lg-5 col-md-6 col-sm-12">
                <input type="text" class="form-control form-control-sm" formControlName="Observacion">  
                <app-forms-messages [error]="frmFacturaCompraDetalle.get('Observacion')" [statusForm]=statusForm ></app-forms-messages>
            </div>
            <label class="col-lg-1 col-md-4 col-sm-12">Producto</label>
            <div class="form-group col-lg-5 col-md-6 col-sm-12">            
                <ng-select [items]="listProducto" bindLabel="textoMostrar" bindValue="id" formControlName="ProductoId" > </ng-select>
                <app-forms-messages [error]="frmFacturaCompraDetalle.get('ProductoId')" [statusForm]=statusForm ></app-forms-messages>
            </div>
            <label class="col-lg-1 col-md-4 col-sm-12">Unidad Medida</label>
            <div class="form-group col-lg-5 col-md-6 col-sm-12">            
                <ng-select [items]="listUnidadMedida" bindLabel="textoMostrar" bindValue="id" formControlName="UnidadMedidaId" > </ng-select>
                <app-forms-messages [error]="frmFacturaCompraDetalle.get('UnidadMedidaId')" [statusForm]=statusForm ></app-forms-messages>
            </div>
        </div>
    </div>
    <div class="row float-right" *ngIf="!seeForm">
        <div class="col-md-12">
            <app-botones [botones]="botones" (eventSave)="save()"></app-botones>
        </div>
    </div>
    <br>
    <br>
    <div class="dt-responsive">
        <div class="row">
            <div class="col-md-12 table-responsive">
            <table datatable [dtOptions]="opcionesDataTable" [dtTrigger]="dtTrigger" class="display compact responsive w-100 table table-striped table-bordered  "></table>
            <app-botones #botonesDatatable [dropdown]="true" [hidden]="true" [botones]="arrayBotonesDatatable" ></app-botones>
            </div>
        </div>
    </div>
</form>