<app-breadcrumb [title]="titulo" [breadcrumb]="breadcrumb"></app-breadcrumb>
<section class="content">
  <div class="container-fluid">
    
    <div class="card card-outline card-primary elevation-2">
      <div class="card-body">
        <form [formGroup]="frmInventarios" class="mb-4">
          <div class="row">
            <div class="input-group">
              <label class="col-lg-2   col-md-4 col-sm-12">Activo</label>
              <div class="form-group col-lg-2   col-md-6 col-sm-12">
                <ui-switch formControlName="Estado"></ui-switch>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-group">
              <label class="col-lg-2 col-md-4 col-sm-12">Codigo</label>
              <div class="form-group col-lg-4  col-md-8 col-sm-12">
                <input type="text" class="form-control form-control-sm" formControlName="Codigo">
                <app-forms-messages [error]="frmInventarios.get('Codigo')" [statusForm]=statusForm ></app-forms-messages>
              </div>
              <label class="col-lg-2 col-md-4 col-sm-12">Nombre</label>
              <div class="form-group col-lg-4  col-md-8 col-sm-12">
                <input type="text" class="form-control form-control-sm" formControlName="Nombre">
                <app-forms-messages [error]="frmInventarios.get('Nombre')" [statusForm]=statusForm ></app-forms-messages>
              </div>
              <label class="col-lg-2 col-md-4 col-sm-12">Observacion</label>
              <div class="form-group col-lg-10 col-md-8 col-sm-12">
                <textarea formControlName="Observacion" class="form-control form-control-sm"></textarea>
                <app-forms-messages [error]="frmInventarios.get('Observacion')" [statusForm]=statusForm ></app-forms-messages>
              </div>
            </div>
          </div>
          
          <div class="row float-right">
            <div class="col-md-12">
              <app-botones [botones]="botones" (eventSave)="save()" (eventCancel)="cancel()"></app-botones>
            </div>
          </div>
        </form>
        <br>
        <div class="card-footer" *ngIf="id">
          <ul ngbNav #nav="ngbNav" [destroyOnHide]="false" class="nav-tabs">
            <li ngbNavItem>
              <a ngbNavLink>Detalle
                <span  data-bs-toggle="tooltip" data-bs-placement="left" title="En este formulario se ve el detalle perteneciente al Inventario">
                  <i class="fa-solid fa-circle-question"></i>
                </span > 
              </a>
              <ng-template ngbNavContent>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <app-inventario-detalle-form [Inventario_Id]="id"> </app-inventario-detalle-form>
                  </div>
                </div>
              </ng-template>
            </li>

            <li ngbNavItem>
              <a ngbNavLink>Bodegas
                <span  data-bs-toggle="tooltip" data-bs-placement="left" title="En este formulario se ve el detalle perteneciente al Inventario">
                  <i class="fa-solid fa-circle-question"></i>
                </span > 
              </a>
              <ng-template ngbNavContent>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <app-inventario-detalle-bodega-form [Inventario_Id]="id"> </app-inventario-detalle-bodega-form>
                  </div>
                </div>
              </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
      </div>
    </div>
  </div>
</section>
