<div *ngIf="!dropdown; else isDropdown">
    <div #botonesNormal class="button-group">
      <button type="submit" class="btn btn-sm btn-primary float-right" *ngIf="validateIfExists('btn-guardar')" (click)="eventSave.emit()"><i class="far fa-save"></i> Guardar</button>
      <button class="btn btn-sm btn-primary float-right" *ngIf="validateIfExists('btn-nuevo')" (click)="eventNew.emit()"><i class="fas fa-plus"></i> Nuevo</button>
      <button class="btn btn-sm btn-primary float-right" *ngIf="validateIfExists('btn-modificar')" (click)="eventEdit.emit()"><i class="far fa-edit"></i> Modificar</button>
      <button class="btn btn-sm btn-danger float-right" *ngIf="validateIfExists('btn-eliminar')" (click)="eventDelete.emit()"><i class="far fa-trash-alt"></i> Eliminar</button>
      <button class="btn btn-sm btn-secondary float-right" *ngIf="validateIfExists('btn-archivo')" (click)="eventArchive.emit()"><i class="fas fa-file"></i> Subir archivo</button>
      <button class="btn btn-sm btn-info float-right" *ngIf="validateIfExists('btn-imprimir')" (click)="eventPrint.emit()"><i class="fas fa-print"></i> Imprimir</button>
      <button class="btn btn-sm btn-info float-right" *ngIf="validateIfExists('btn-buscar')" (click)="eventSearch.emit()"><i class="fas fa-search"></i> Buscar</button>
      <button class="btn btn-sm btn-danger float-right" *ngIf="validateIfExists('btn-limpiar')" (click)="eventClean.emit()"><i class="fas fa-broom"></i> Limpiar</button>
      <button class="btn btn-sm btn-secondary float-right" *ngIf="validateIfExists('btn-cancelar')" (click)="eventCancel.emit()"><i class="fas fa-times"></i> Cancelar</button>
      <button class="btn btn-sm btn-danger btn-observaciones" data-observacion="$observacion" *ngIf="validateIfExists('btn-observaciones')" (click)="eventObservaciones.emit()"><i class="fas far fa-eye"></i></button>
      <button class="btn btn-sm btn-secondary float-right" *ngIf="validateIfExists('btn-precotizacion')" (click)="eventPrecotizacion.emit()"><i class="fas far fa-eye"></i> Ver precotización</button>
      <button class="btn btn-sm btn-secondary float-right" *ngIf="validateIfExists('btn-generar-cotizacion')" (click)="eventGenerarCotizacion.emit()"><i class="fas far fa-save"></i> Generar cotización</button>
      <button class="btn btn-sm btn-success float-right" *ngIf="validateIfExists('btn-descargar-archivo')" (click)="eventDowloand.emit()"><i class="fas far fa-save"></i> Decargar</button>

      <button class="btn btn-sm btn-primary float-right" *ngIf="validateIfExists('btn-agregar')" (click)="eventAgg.emit()"><i class="fas fa-plus"></i> Agregar</button>
      <button class="btn btn-sm btn-success float-right" *ngIf="validateIfExists('btn-importar-empleado')" (click)="eventImportarEmpleado.emit()"><i class="fa-solid fa-file-excel"></i> Importar</button>
      <button class="btn btn-sm btn-success float-right" *ngIf="validateIfExists('btn-carge-masivo')" (click)="eventCargeMasivo.emit()"><i class="fas far fa-eye"></i> Carge masivo</button>
      <button class="btn btn-sm btn-secondary float-right" *ngIf="validateIfExists('btn-excel-empleado')" (click)="eventExcelEmpleado.emit()"><i class="fas fa-file"></i> Descargar Plantilla</button>
    </div>
  </div>
  
  <ng-template #isDropdown>
    <div #botonesDropdown class="btn-group">
      <!-- <button type="button" class="btn btn-xs btn-default">Acciones</button>
      <button type="button" class="btn btn-xs btn-default dropdown-toggle dropdown-icon" data-toggle="dropdown">
        <span class="sr-only">Toggle Dropdown</span>
      </button> -->
      <div role="group"  class="button-group " aria-label="Basic example">
        <!-- btn-cambiar-contraseña -->
        <a class="btn btn-sm btn-danger btn-dropdown-eliminar" data-id="$id" (click)="eventDelete.emit()" *ngIf="validateIfExists('btn-eliminar')"><i class="fas fa-trash" data-id="$id"></i> Eliminar</a>
        <a class="btn btn-sm btn-warning btn-dropdown-modificar" data-id="$id" (click)="eventEdit.emit()" *ngIf="validateIfExists('btn-modificar')"><i class="far fa-edit" data-id="$id"></i> Editar</a>
        <a class="btn btn-sm btn-info btn-dropdown-ver" data-id="$id" (click)="eventSee.emit()" *ngIf="validateIfExists('btn-ver')"><i class="fa-solid fa-eye" data-id="$id"></i> Ver </a>
        <a class="btn btn-sm btn-primary btn-dropdown-contraseña" data-id="$id" (click)="eventChangePassword.emit()" *ngIf="validateIfExists('btn-cambiar-contraseña')" ><i class="fa-solid fa-user" data-id="$id"></i> Cambiar Contraseña</a> 
        <a class="btn btn-sm btn-success btn-dropdown-descargar" data-id="$id" (click)="eventDowloand.emit()" *ngIf="validateIfExists('btn-descargar')" ><i class="fa-solid fa-download" data-id="$id"></i> Descargar</a>
        <a class="btn btn-sm btn-info btn-dropdown-ficha-tecnica" data-id="$id" (click)="eventFichaTecnica.emit()" *ngIf="validateIfExists('btn-ficha-tecnica')" ><i class="fa-solid fa-eye" data-id="$id"></i> Ver ficha técnica</a>
        <a class="btn btn-sm btn-info btn-dropdown-copiar" data-id="$id" (click)="eventCopy.emit()" *ngIf="validateIfExists('btn-copiar')" ><i class="fa-solid fa-copy" data-id="$id"></i> Copiar</a>
        <a class="btn btn-sm btn-info btn-dropdown-ver-imagen" data-id="$id" (click)="eventVerImagen.emit()" *ngIf="validateIfExists('btn-ver-imagen')" ><i class="fa-solid fa-eye" data-id="$id"></i> Ver Imagen</a>
        <a class="btn btn-sm btn-info btn-dropdown-ver-talla" data-id="$id" (click)="eventVerImagen.emit()" *ngIf="validateIfExists('btn-ver-talla')" ><i class="fa-solid fa-eye" data-id="$id"></i> Ver Talla</a>
        <a class="btn btn-sm btn-info btn-dropdown-generar-orden-produccion" data-id="$id" (click)="eventGenerarOrdenProduccion.emit()" *ngIf="validateIfExists('btn-generar-orden-produccion')" ><i class="fa-solid fa-edit" data-id="$id"></i> Armar orden producción</a>
      </div>
    </div>
  </ng-template>
  