<app-breadcrumb [title]="titulo" [breadcrumb]="breadcrumb"></app-breadcrumb>
<section class="content">
  <div class="container-fluid">
    <div class="card card-outline card-primary elevation-2">
      <div class="card-body">
        <form [formGroup]="frmCostos" class="mb-4">
          <div class="row">
            <div class="col-md-3">
              <label>Descripción</label>
              <input type="text" class="form-control form-control-sm" formControlName="Descripcion">
              <app-forms-messages [error]="frmCostos.get('Descripcion')" [statusForm]=statusForm></app-forms-messages>
            </div>
            <div class="col-md-3">
              <label>Fecha</label>
              <input type="datetime-local" class="form-control form-control-sm" formControlName="FechaCosto">
              <app-forms-messages [error]="frmCostos.get('FechaCosto')" [statusForm]=statusForm></app-forms-messages>
            </div>
            <div class="col-md-3">
              <label>Valor</label>
              <input currencyMask [options]="{ prefix: '$ ', thousands: '.', precision: 0 }" type="text" class="form-control form-control-sm" formControlName="Valor">
              <app-forms-messages [error]="frmCostos.get('Valor')" [statusForm]=statusForm></app-forms-messages>
            </div>
            <div class="col-md-3">
              <label>Numero de Factura</label>
              <input type="text" class="form-control form-control-sm" formControlName="NumeroFactura">
              <app-forms-messages [error]="frmCostos.get('NumeroFactura')" [statusForm]=statusForm></app-forms-messages>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-3">
              <label>Tipo de Costo</label>
              <ng-select [items]="listTiposCostos" bindLabel="textoMostrar" bindValue="id"
                formControlName="TipoCosto_Id"> </ng-select>
              <app-forms-messages [error]="frmCostos.get('TipoCosto_Id')"
                [statusForm]=statusForm></app-forms-messages>
            </div>
            <div class="col-md-3">
              <label>Proveedor</label>
              <ng-select [items]="listProveedores" bindLabel="textoMostrar" bindValue="id"
                formControlName="Proveedor_Id"> </ng-select>
              <app-forms-messages [error]="frmCostos.get('Proveedor_Id')"
                [statusForm]=statusForm></app-forms-messages>
            </div>
            <div class="col-md-2">
              <label>Pago de Caja</label><br>
              <ui-switch formControlName="PagoCaja"></ui-switch>
            </div>
            <div class="col-md-3 d-none">
              <label>Empleado</label>
              <ng-select [items]="listEmpleados" bindLabel="textoMostrar" bindValue="id" formControlName="Empleado_Id">
              </ng-select>
              <app-forms-messages [error]="frmCostos.get('Empleado_Id')" [statusForm]=statusForm></app-forms-messages>
            </div>
          </div>
          <br>
          <div class="row float-right">
            <div class="col-md-12">
              <app-botones [botones]="botones" (eventSave)="save()" (eventCancel)="cancel()"></app-botones>
            </div>
          </div>
          <br>
        </form>
        <br>
      </div>
    </div>
  </div>
</section>