<app-breadcrumb [title]="titulo" [breadcrumb]="breadcrumb"></app-breadcrumb>
<section class="content">
  <div class="container-fluid">
    <div class="card card-outline card-primary elevation-2">
      <div class="card-body">
        <form [formGroup]="frmOrdenesPedidos" class="mb-4">
          <div class="row">
            <div class="col-md-3 col-lg-3 col-sm-3 mb-3" *ngIf="id">
              <label>Cliente</label>
              <ng-select [items]="listClientes" bindLabel="textoMostrar" bindValue="id" formControlName="Cliente_Id"
                [readonly]=disableForm>
              </ng-select>
              <app-forms-messages [error]="frmOrdenesPedidos.get('Cliente_Id')"
                [statusForm]="statusForm"></app-forms-messages>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-3 mb-3">
              <label>Procedimiento</label>
              <ng-select [items]="listProcedimientos" bindLabel="textoMostrar" bindValue="id"
                formControlName="Procedimiento_Id" [(ngModel)]="selectedItem" (change)="onSelectProcedimiento($event)"
                [readonly]=disableForm>
              </ng-select>
              <app-forms-messages [error]="frmOrdenesPedidos.get('Procedimiento_Id')"
                [statusForm]="statusForm"></app-forms-messages>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-2 mb-3">
              <label>Cantidad</label>
              <input type="number" class="form-control form-control-sm" formControlName="Cantidad"
                [readonly]=disableForm />
              <app-forms-messages [error]="frmOrdenesPedidos.get('Cantidad')"
                [statusForm]="statusForm"></app-forms-messages>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 mb-3" *ngIf="bordado">
              <label>Ubicacion</label>
              <ng-select [multiple]="true" [items]="listUbicaciones" bindLabel="Nombre" bindValue="Nombre"
                formControlName="Ubicacion" [readonly]=disableForm>
              </ng-select>
              <app-forms-messages [error]="frmOrdenesPedidos.get('Ubicacion')"
                [statusForm]="statusForm"></app-forms-messages>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-3 mb-3" *ngIf="bordado">
              <label>Colores</label>
              <ng-select [multiple]="true" [items]="listColors" bindLabel="Nombre" bindValue="Nombre"
                formControlName="Colores" [readonly]=disableForm>
              </ng-select>
              <app-forms-messages [error]="frmOrdenesPedidos.get('Colores')"
                [statusForm]="statusForm"></app-forms-messages>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-2 mb-3" *ngIf="bordado">
              <label>Tamaño</label>
              <input type="text" class="form-control form-control-sm" formControlName="Tamaño" [readonly]=disableForm />
              <app-forms-messages [error]="frmOrdenesPedidos.get('Tamaño')"
                [statusForm]="statusForm"></app-forms-messages>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-2" *ngIf="bordado">
              <label>Archivo</label>
              <input type="file" class="form-control form-control-sm" (change)="fileEvent($event)"
                [disabled]=disableForm />
            </div>
            <div class="col-md-1 col-lg-1 col-sm-1" *ngIf="bordado">
              <label>Trae Prenda</label><br />
              <ui-switch formControlName="TraePrenda" [disabled]=disableForm></ui-switch>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-2 mb-3">
              <label>Taller</label>
              <ng-select [items]="listTalleres" bindLabel="textoMostrar" bindValue="id" formControlName="Taller_Id"
                [readonly]=disableForm>
              </ng-select>
              <app-forms-messages [error]="frmOrdenesPedidos.get('Taller_Id')"
                [statusForm]="statusForm"></app-forms-messages>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-2 mb-3">
              <label>Fecha de Entrega</label>
              <input type="date" class="form-control form-control-sm" formControlName="FechaEntrega"
                [readonly]=disableForm />
              <app-forms-messages [error]="frmOrdenesPedidos.get('FechaEntrega')"
                [statusForm]="statusForm"></app-forms-messages>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-3 mb-3">
              <label>Empleado Asignado</label>
              <ng-select [items]="listEmpleadoAsignado" bindLabel="textoMostrar" bindValue="id"
                formControlName="EmpleadoAsignado_Id" [readonly]=disableForm>
              </ng-select>
              <app-forms-messages [error]="frmOrdenesPedidos.get('EmpleadoAsignado_Id')"
                [statusForm]="statusForm"></app-forms-messages>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12">
              <label>Observación</label>
              <textarea class="form-control" formControlName="Observacion" rows="4" [readonly]=disableForm></textarea>
              <app-forms-messages [error]="frmOrdenesPedidos.get('Observacion')"
                [statusForm]="statusForm"></app-forms-messages>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-3 col-lg-3 col-sm-3 d-none">
              <label>Empleado</label>
              <ng-select [items]="listEmpleados" bindLabel="textoMostrar" bindValue="id" formControlName="Empleado_Id">
              </ng-select>
              <app-forms-messages [error]="frmOrdenesPedidos.get('Empleado_Id')"
                [statusForm]="statusForm"></app-forms-messages>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-3 d-none ">
              <label>Estado</label>
              <ng-select [items]="listEstados" bindLabel="textoMostrar" bindValue="id" formControlName="Estado_Id">
              </ng-select>
              <app-forms-messages [error]="frmOrdenesPedidos.get('Estado_Id')"
                [statusForm]="statusForm"></app-forms-messages>
            </div>
          </div>
          <br />
          <div class="row" class="d-none">
            <div class="col-md-3 col-lg-3 col-sm-3">
              <label>Sub Total</label>
              <input currencyMask [options]="{ prefix: '$ ', thousands: '.', precision: 0 }" type="text"
                class="form-control" formControlName="SubTotal">
            </div>
          </div>
          <div class="row float-right">
            <div class="col-md-12">
              <app-botones [botones]="botones" (eventSave)="save()" (eventCancel)="cancel()"></app-botones>
            </div>
          </div>
          <br />
          <br />
          <br />
          <div>
            <div class="card-footer" *ngIf="id">
              <ul ngbNav #nav="ngbNav" [destroyOnHide]="false" class="nav-tabs">
                <li ngbNavItem>
                  <a ngbNavLink>Insumos
                    <span data-bs-toggle="tooltip" data-bs-placement="left"
                      title="En este formulario se asocian los Insumos al la orden">
                      <i class="fa-solid fa-circle-question"></i>
                    </span>
                  </a>
                  <ng-template ngbNavContent>
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12">
                        <app-ordenes-pedidos-productos-form [OrdenPedido_Id]="id">
                        </app-ordenes-pedidos-productos-form>
                      </div>
                    </div>
                  </ng-template>
                </li>
                <li ngbNavItem>
                  <a ngbNavLink>Seguimientos
                    <span data-bs-toggle="tooltip" data-bs-placement="left"
                      title="En este formulario se asocian los seguimientos pertenecientes al la orden">
                      <i class="fa-solid fa-circle-question"></i>
                    </span>
                  </a>
                  <ng-template ngbNavContent>
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12">
                        <app-seguimientos-form [OrdenPedido_Id]="id">
                        </app-seguimientos-form>
                      </div>
                    </div>
                  </ng-template>
                </li>
              </ul>
              <div [ngbNavOutlet]="nav" class="mt-2"></div>
            </div>
          </div>
        </form>
        <br />
      </div>
    </div>
  </div>
</section>